sudo apt-get -y install python3
sudo apt-get -y install python3-pip
sudo pip3 install virtualenv
python3 -m venv PYTHON_ENV
source PYTHON_ENV/bin/activate
sudo apt-get -y install python3 python3-pip
pip3 install pyqt5 numpy matplotlib
./start.sh
